.city {
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: rgba(217, 217, 217, 0.25);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.windContainer, .temperatureContainer {
    display: flex;
    align-items: center;
}